<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/js/style/style.css">

  </link>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <style>
    @font-face {
      font-family: myFirstFont;
      src: url(/js/style/Acme-Regular.ttf)
    }

    * {
      font-family: myFirstFont;
    }
  </style>
<body>
<!--
  <div class="headerContainer">
    <div class="dashboardContainer">
      <button type="button" style='width:125px' class="btn btn-outline-light">Home</button>

      <button type="button" style='width:125px' class="btn btn-outline-light">Dashboard</button>
      <!-- IF logged in then "Logout" button will appear-->
      <!-- IF logged out then "Login" button will appear-->
      <button type="button" style='width:125px' class="btn btn-outline-light">Login</button>
    </div>
    <div class="titleContainer">
      <div>Pedal-Stool</div>
    </div>
    <div class="createpostsContainer">
      <div id="zipDiv">
        <button type="button" class="btn btn-outline-warning">Create New Post</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>

</body>
<div class="mainSection">
  <div class="blogMain">
    <div class="postManager">
      <div class="textbox">Top Posts:</div>
      <div class="container-md1">
        <button type="button" style="width: 22%" class="btn btn-info">USER</button>
        <button type="button" style="width: 25%" class="btn btn-info">SUBJECT</button>
        <button type="button" style="width: 11%" class="btn btn-success">Upvotes: </button>
        <button type="button" style="border-radius: 50%;" class="btn btn-success">⬆</button>
        <button type="button" style="width: 11%" class="btn btn-danger">Downvotes: </button>
        <button type="button" style="border-radius: 50%;" class="btn btn-danger">⬇</button>
        <button type="button" style="width: 20%" class="btn btn-warning">Add Comment</button>
        100% wide until medium breakpoint
      </div>
      <div class="commentManager">
        <button type="button" class="btn btn-warning"></button>
      </div>
      <div class="container-md2">
        <button type="button" style="width: 22%" class="btn btn-info">USER</button>
        <button type="button" style="width: 25%" class="btn btn-info">SUBJECT</button>
        <button type="button" style="width: 11%" class="btn btn-success">Upvotes: </button>
        <button type="button" style="border-radius: 50%;" class="btn btn-success">⬆</button>
        <button type="button" style="width: 11%" class="btn btn-danger">Downvotes: </button>
        <button type="button" style="border-radius: 50%;" class="btn btn-danger">⬇</button>
        <button type="button" style="width: 20%" class="btn btn-warning">Add Comment</button>
        100% wide until medium breakpoint
      </div>
      <div class="commentManager">
        <button type="button" class="btn btn-warning"></button>
      </div>
      <div class="container-md3">
        <button type="button" style="width: 22%" class="btn btn-info">USER</button>
        <button type="button" style="width: 25%" class="btn btn-info">SUBJECT</button>
        <button type="button" style="width: 11%" class="btn btn-success">Upvotes: </button>
        <button type="button" style="border-radius: 50%;" class="btn btn-success">⬆</button>
        <button type="button" style="width: 11%" class="btn btn-danger">Downvotes: </button>
        <button type="button" style="border-radius: 50%;" class="btn btn-danger">⬇</button>
        <button type="button" style="width: 20%" class="btn btn-warning">Add Comment</button>
        100% wide until medium breakpoint
      </div>
      <div class="commentManager">
        <button type="button" class="btn btn-outline-warning"></button>
      </div>
    </div>
  </div>
  <div class="voteCounterContainer1">
  </div>
</div>
</div>

<div class="moreInfo">
  <button type="button" style='width:125px' class="btn btn-outline-light">Report</button>
  <button type="button" style='width:125px' class="btn btn-outline-light">Contact</button>
  <button type="button" style='width:125px' class="btn btn-outline-light">More Info</button>
</div>

<script src="handlebars-v4.0./2.js"></script>
<script src="/socket.io/socket.io.js"></script>
-->
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      User Registry
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>