<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/js/style/style.css">

  </link>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <style>
    @font-face {
      font-family: myFirstFont;
      src: url(Acme-Regular.ttf)
    }

    * {
      font-family: myFirstFont;
    }
  </style>
  </body>
  <title>Document</title>
</head>

<body>
  <div class="headerContainer">
    <div class="dashboardContainer">
      <button type="button" style='width:125px' class="btn btn-outline-light">Home</button>

      <button type="button" style='width:125px' class="btn btn-outline-light">Dashboard</button>
      <!-- IF logged in then "Logout" button will appear-->
      <!-- IF logged out then "Login" button will appear-->
      <button type="button" style='width:125px' class="btn btn-outline-light">Login</button>
    </div>
    <div class="titleContainer">
      <div>Pedal-Stool</div>
    </div>
    <div class="createpostsContainer">
      <div id="zipDiv">
        <button type="button" class="btn btn-outline-warning">Create New Post</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>

</body>
<div class="mainSection">
  <div class="blogMain">
    <div class="postManager">
      <div class="textbox">Top Posts:</div>
      <div class="container-md1">
        <button type="button" style="width: 30%" class="btn btn-outline-warning">USER</button>
        <button type="button" style="width: 60%" class="btn btn-outline-info">BLOG SUBJECT</button>
        <button type="button" class="btn btn-success">⬆</button>
        <button type="button" class="btn btn-danger">⬇</button>
        100% wide until medium breakpoint
      </div>
      <div class="commentManager">
        <button type="button" class="btn btn-outline-warning">Add Comment</button>
      </div>
      <div class="container-md2">
        <button type="button" style="width: 30%" class="btn btn-outline-warning">USER</button>
        <button type="button" style="width: 60%" class="btn btn-outline-info">BLOG SUBJECT</button>
        <button type="button" class="btn btn-success">⬆</button>
        <button type="button" class="btn btn-danger">⬇</button>
        100% wide until medium breakpoint
      </div>
      <div class="commentManager">
        <button type="button" class="btn btn-outline-warning">Add Comment</button>
      </div>
      <div class="container-md3">
        <button type="button" style="width: 30%" class="btn btn-outline-warning">USER</button>
        <button type="button" style="width: 60%" class="btn btn-outline-info">BLOG SUBJECT</button>
        <button type="button" class="btn btn-success">⬆</button>
        <button type="button" class="btn btn-danger">⬇</button>
        100% wide until medium breakpoint
      </div>
      <div class="commentManager">
        <button type="button" class="btn btn-outline-warning">Add Comment</button>
      </div>
    </div>
    <div class="voteCounterContainer">
      <div class="votes">
      </div>
    </div>
  </div>
</div>

<div id="favorites-list">Click to view more content</div>

<script src="handlebars-v4.0./2.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>

<header class="footer2"> <button id="navbar" class="js-modal-trigger" data-input="modal-js-example">
    Home
  </button>
  <button id="navbar" class="js-modal-trigger" data-input="modal-js-example">
    Dashboard
  </button>
  <button id="navbar" class="js-modal-trigger" data-input="modal-js-example">
    Logout
  </button>
  <div class="ourtitle" Pedal Stool></div>
</header>

</html>